<ion-header-bar class="bar-energized">
  <i class="icon ion-android-arrow-back icon-assertive " style="margin-left:20px; margin-top:5px " ng-click="back('main')">Back</i>
<h1 class="title">Add Items</h1>


</ion-header-bar>

<ion-content>
  <!--{{show}}-->
  <div class="card">
    <div class="item item-text-wrap  ">
      <div class="list" ng-repeat="items in data">

        <li class="item  item-icon-right ">

          <label class="checkbox  ">
            <input type="checkbox" ng-model="items.isSelected" ng-click="selected(items.isSelected , items.item , $index , items.$id)">
          </label>

            <span style="position: absolute; bottom:30px">{{items.item}}</span>

          <i class="icon ion-android-delete" ng-click="delete(items)"></i>
         <!-- <

          {{items.isSelected}}
          <button class="button button-positive">
            <i class="icon ion-ion-star"></i>
          </button>-->
        </li>





      </div>
    </div>
  </div>
</ion-content>
<ion-footer-bar class="bar-stable">
  <label class="item item-input">
    <input type="text" placeholder="Enter Items" ng-model="obj.item">
  </label>
  <button class="button button-assertive ion-android-add" ng-click="save()">
    Add
  </button>
  <button class="button button-positive " ng-click="view('view')">
    View
  </button>
</ion-footer-bar>
